// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$address-name: 'address';
$address-x: 209px;
$address-y: 148px;
$address-offset-x: -209px;
$address-offset-y: -148px;
$address-width: 21px;
$address-height: 26px;
$address-total-width: 289px;
$address-total-height: 242px;
$address-image: '/assets/template/css/sprites/sprite.png';
$address: (209px, 148px, -209px, -148px, 21px, 26px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'address', );
$arrow-menu-name: 'arrow-menu';
$arrow-menu-x: 209px;
$arrow-menu-y: 174px;
$arrow-menu-offset-x: -209px;
$arrow-menu-offset-y: -174px;
$arrow-menu-width: 7px;
$arrow-menu-height: 10px;
$arrow-menu-total-width: 289px;
$arrow-menu-total-height: 242px;
$arrow-menu-image: '/assets/template/css/sprites/sprite.png';
$arrow-menu: (209px, 174px, -209px, -174px, 7px, 10px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'arrow-menu', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 95px;
$arrow-right-y: 85px;
$arrow-right-offset-x: -95px;
$arrow-right-offset-y: -85px;
$arrow-right-width: 6px;
$arrow-right-height: 11px;
$arrow-right-total-width: 289px;
$arrow-right-total-height: 242px;
$arrow-right-image: '/assets/template/css/sprites/sprite.png';
$arrow-right: (95px, 85px, -95px, -85px, 6px, 11px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'arrow-right', );
$buy-name: 'buy';
$buy-x: 78px;
$buy-y: 0px;
$buy-offset-x: -78px;
$buy-offset-y: 0px;
$buy-width: 92px;
$buy-height: 85px;
$buy-total-width: 289px;
$buy-total-height: 242px;
$buy-image: '/assets/template/css/sprites/sprite.png';
$buy: (78px, 0px, -78px, 0px, 92px, 85px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'buy', );
$cart-name: 'cart';
$cart-x: 141px;
$cart-y: 177px;
$cart-offset-x: -141px;
$cart-offset-y: -177px;
$cart-width: 20px;
$cart-height: 19px;
$cart-total-width: 289px;
$cart-total-height: 242px;
$cart-image: '/assets/template/css/sprites/sprite.png';
$cart: (141px, 177px, -141px, -177px, 20px, 19px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'cart', );
$check-name: 'check';
$check-x: 215px;
$check-y: 132px;
$check-offset-x: -215px;
$check-offset-y: -132px;
$check-width: 12px;
$check-height: 9px;
$check-total-width: 289px;
$check-total-height: 242px;
$check-image: '/assets/template/css/sprites/sprite.png';
$check: (215px, 132px, -215px, -132px, 12px, 9px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'check', );
$delete-name: 'delete';
$delete-x: 170px;
$delete-y: 187px;
$delete-offset-x: -170px;
$delete-offset-y: -187px;
$delete-width: 20px;
$delete-height: 20px;
$delete-total-width: 289px;
$delete-total-height: 242px;
$delete-image: '/assets/template/css/sprites/sprite.png';
$delete: (170px, 187px, -170px, -187px, 20px, 20px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'delete', );
$facebook-name: 'facebook';
$facebook-x: 275px;
$facebook-y: 146px;
$facebook-offset-x: -275px;
$facebook-offset-y: -146px;
$facebook-width: 10px;
$facebook-height: 18px;
$facebook-total-width: 289px;
$facebook-total-height: 242px;
$facebook-image: '/assets/template/css/sprites/sprite.png';
$facebook: (275px, 146px, -275px, -146px, 10px, 18px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'facebook', );
$footer-menu-arrow-name: 'footer-menu-arrow';
$footer-menu-arrow-x: 101px;
$footer-menu-arrow-y: 85px;
$footer-menu-arrow-offset-x: -101px;
$footer-menu-arrow-offset-y: -85px;
$footer-menu-arrow-width: 6px;
$footer-menu-arrow-height: 11px;
$footer-menu-arrow-total-width: 289px;
$footer-menu-arrow-total-height: 242px;
$footer-menu-arrow-image: '/assets/template/css/sprites/sprite.png';
$footer-menu-arrow: (101px, 85px, -101px, -85px, 6px, 11px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'footer-menu-arrow', );
$garant-name: 'garant';
$garant-x: 0px;
$garant-y: 210px;
$garant-offset-x: 0px;
$garant-offset-y: -210px;
$garant-width: 32px;
$garant-height: 32px;
$garant-total-width: 289px;
$garant-total-height: 242px;
$garant-image: '/assets/template/css/sprites/sprite.png';
$garant: (0px, 210px, 0px, -210px, 32px, 32px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'garant', );
$garante-name: 'garante';
$garante-x: 0px;
$garante-y: 0px;
$garante-offset-x: 0px;
$garante-offset-y: 0px;
$garante-width: 78px;
$garante-height: 103px;
$garante-total-width: 289px;
$garante-total-height: 242px;
$garante-image: '/assets/template/css/sprites/sprite.png';
$garante: (0px, 0px, 0px, 0px, 78px, 103px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'garante', );
$grid-active-name: 'grid-active';
$grid-active-x: 190px;
$grid-active-y: 187px;
$grid-active-offset-x: -190px;
$grid-active-offset-y: -187px;
$grid-active-width: 21px;
$grid-active-height: 19px;
$grid-active-total-width: 289px;
$grid-active-total-height: 242px;
$grid-active-image: '/assets/template/css/sprites/sprite.png';
$grid-active: (190px, 187px, -190px, -187px, 21px, 19px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'grid-active', );
$grid-name: 'grid';
$grid-x: 141px;
$grid-y: 158px;
$grid-offset-x: -141px;
$grid-offset-y: -158px;
$grid-width: 21px;
$grid-height: 19px;
$grid-total-width: 289px;
$grid-total-height: 242px;
$grid-image: '/assets/template/css/sprites/sprite.png';
$grid: (141px, 158px, -141px, -158px, 21px, 19px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'grid', );
$icon-down-dark-name: 'icon-down-dark';
$icon-down-dark-x: 216px;
$icon-down-dark-y: 174px;
$icon-down-dark-offset-x: -216px;
$icon-down-dark-offset-y: -174px;
$icon-down-dark-width: 11px;
$icon-down-dark-height: 6px;
$icon-down-dark-total-width: 289px;
$icon-down-dark-total-height: 242px;
$icon-down-dark-image: '/assets/template/css/sprites/sprite.png';
$icon-down-dark: (216px, 174px, -216px, -174px, 11px, 6px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'icon-down-dark', );
$icon-up-dark-name: 'icon-up-dark';
$icon-up-dark-x: 215px;
$icon-up-dark-y: 141px;
$icon-up-dark-offset-x: -215px;
$icon-up-dark-offset-y: -141px;
$icon-up-dark-width: 11px;
$icon-up-dark-height: 6px;
$icon-up-dark-total-width: 289px;
$icon-up-dark-total-height: 242px;
$icon-up-dark-image: '/assets/template/css/sprites/sprite.png';
$icon-up-dark: (215px, 141px, -215px, -141px, 11px, 6px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'icon-up-dark', );
$individual-name: 'individual';
$individual-x: 170px;
$individual-y: 112px;
$individual-offset-x: -170px;
$individual-offset-y: -112px;
$individual-width: 45px;
$individual-height: 36px;
$individual-total-width: 289px;
$individual-total-height: 242px;
$individual-image: '/assets/template/css/sprites/sprite.png';
$individual: (170px, 112px, -170px, -112px, 45px, 36px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'individual', );
$list-active-name: 'list-active';
$list-active-x: 230px;
$list-active-y: 192px;
$list-active-offset-x: -230px;
$list-active-offset-y: -192px;
$list-active-width: 21px;
$list-active-height: 18px;
$list-active-total-width: 289px;
$list-active-total-height: 242px;
$list-active-image: '/assets/template/css/sprites/sprite.png';
$list-active: (230px, 192px, -230px, -192px, 21px, 18px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'list-active', );
$list-name: 'list';
$list-x: 251px;
$list-y: 192px;
$list-offset-x: -251px;
$list-offset-y: -192px;
$list-width: 21px;
$list-height: 18px;
$list-total-width: 289px;
$list-total-height: 242px;
$list-image: '/assets/template/css/sprites/sprite.png';
$list: (251px, 192px, -251px, -192px, 21px, 18px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'list', );
$loupe-name: 'loupe';
$loupe-x: 230px;
$loupe-y: 100px;
$loupe-offset-x: -230px;
$loupe-offset-y: -100px;
$loupe-width: 45px;
$loupe-height: 46px;
$loupe-total-width: 289px;
$loupe-total-height: 242px;
$loupe-image: '/assets/template/css/sprites/sprite.png';
$loupe: (230px, 100px, -230px, -100px, 45px, 46px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'loupe', );
$next-active-name: 'next-active';
$next-active-x: 215px;
$next-active-y: 122px;
$next-active-offset-x: -215px;
$next-active-offset-y: -122px;
$next-active-width: 12px;
$next-active-height: 10px;
$next-active-total-width: 289px;
$next-active-total-height: 242px;
$next-active-image: '/assets/template/css/sprites/sprite.png';
$next-active: (215px, 122px, -215px, -122px, 12px, 10px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'next-active', );
$next-name: 'next';
$next-x: 215px;
$next-y: 112px;
$next-offset-x: -215px;
$next-offset-y: -112px;
$next-width: 12px;
$next-height: 10px;
$next-total-width: 289px;
$next-total-height: 242px;
$next-image: '/assets/template/css/sprites/sprite.png';
$next: (215px, 112px, -215px, -112px, 12px, 10px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'next', );
$ok-name: 'ok';
$ok-x: 275px;
$ok-y: 100px;
$ok-offset-x: -275px;
$ok-offset-y: -100px;
$ok-width: 12px;
$ok-height: 19px;
$ok-total-width: 289px;
$ok-total-height: 242px;
$ok-image: '/assets/template/css/sprites/sprite.png';
$ok: (275px, 100px, -275px, -100px, 12px, 19px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'ok', );
$order-name: 'order';
$order-x: 0px;
$order-y: 103px;
$order-offset-x: 0px;
$order-offset-y: -103px;
$order-width: 69px;
$order-height: 107px;
$order-total-width: 289px;
$order-total-height: 242px;
$order-image: '/assets/template/css/sprites/sprite.png';
$order: (0px, 103px, 0px, -103px, 69px, 107px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'order', );
$original-name: 'original';
$original-x: 69px;
$original-y: 103px;
$original-offset-x: -69px;
$original-offset-y: -103px;
$original-width: 72px;
$original-height: 93px;
$original-total-width: 289px;
$original-total-height: 242px;
$original-image: '/assets/template/css/sprites/sprite.png';
$original: (69px, 103px, -69px, -103px, 72px, 93px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'original', );
$pdf-name: 'pdf';
$pdf-x: 141px;
$pdf-y: 103px;
$pdf-offset-x: -141px;
$pdf-offset-y: -103px;
$pdf-width: 22px;
$pdf-height: 31px;
$pdf-total-width: 289px;
$pdf-total-height: 242px;
$pdf-image: '/assets/template/css/sprites/sprite.png';
$pdf: (141px, 103px, -141px, -103px, 22px, 31px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'pdf', );
$phone-footer-name: 'phone-footer';
$phone-footer-x: 272px;
$phone-footer-y: 192px;
$phone-footer-offset-x: -272px;
$phone-footer-offset-y: -192px;
$phone-footer-width: 17px;
$phone-footer-height: 17px;
$phone-footer-total-width: 289px;
$phone-footer-total-height: 242px;
$phone-footer-image: '/assets/template/css/sprites/sprite.png';
$phone-footer: (272px, 192px, -272px, -192px, 17px, 17px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'phone-footer', );
$phone-header-name: 'phone-header';
$phone-header-x: 78px;
$phone-header-y: 85px;
$phone-header-offset-x: -78px;
$phone-header-offset-y: -85px;
$phone-header-width: 17px;
$phone-header-height: 17px;
$phone-header-total-width: 289px;
$phone-header-total-height: 242px;
$phone-header-image: '/assets/template/css/sprites/sprite.png';
$phone-header: (78px, 85px, -78px, -85px, 17px, 17px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'phone-header', );
$prev-active-name: 'prev-active';
$prev-active-x: 275px;
$prev-active-y: 135px;
$prev-active-offset-x: -275px;
$prev-active-offset-y: -135px;
$prev-active-width: 12px;
$prev-active-height: 10px;
$prev-active-total-width: 289px;
$prev-active-total-height: 242px;
$prev-active-image: '/assets/template/css/sprites/sprite.png';
$prev-active: (275px, 135px, -275px, -135px, 12px, 10px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'prev-active', );
$prev-name: 'prev';
$prev-x: 275px;
$prev-y: 180px;
$prev-offset-x: -275px;
$prev-offset-y: -180px;
$prev-width: 12px;
$prev-height: 10px;
$prev-total-width: 289px;
$prev-total-height: 242px;
$prev-image: '/assets/template/css/sprites/sprite.png';
$prev: (275px, 180px, -275px, -180px, 12px, 10px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'prev', );
$search-name: 'search';
$search-x: 211px;
$search-y: 187px;
$search-offset-x: -211px;
$search-offset-y: -187px;
$search-width: 19px;
$search-height: 19px;
$search-total-width: 289px;
$search-total-height: 242px;
$search-image: '/assets/template/css/sprites/sprite.png';
$search: (211px, 187px, -211px, -187px, 19px, 19px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'search', );
$shop-town-name: 'shop-town';
$shop-town-x: 170px;
$shop-town-y: 0px;
$shop-town-offset-x: -170px;
$shop-town-offset-y: 0px;
$shop-town-width: 60px;
$shop-town-height: 112px;
$shop-town-total-width: 289px;
$shop-town-total-height: 242px;
$shop-town-image: '/assets/template/css/sprites/sprite.png';
$shop-town: (170px, 0px, -170px, 0px, 60px, 112px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'shop-town', );
$sidebar-right-arrow-name: 'sidebar-right-arrow';
$sidebar-right-arrow-x: 275px;
$sidebar-right-arrow-y: 164px;
$sidebar-right-arrow-offset-x: -275px;
$sidebar-right-arrow-offset-y: -164px;
$sidebar-right-arrow-width: 10px;
$sidebar-right-arrow-height: 16px;
$sidebar-right-arrow-total-width: 289px;
$sidebar-right-arrow-total-height: 242px;
$sidebar-right-arrow-image: '/assets/template/css/sprites/sprite.png';
$sidebar-right-arrow: (275px, 164px, -275px, -164px, 10px, 16px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'sidebar-right-arrow', );
$support-online-name: 'support-online';
$support-online-x: 170px;
$support-online-y: 148px;
$support-online-offset-x: -170px;
$support-online-offset-y: -148px;
$support-online-width: 39px;
$support-online-height: 39px;
$support-online-total-width: 289px;
$support-online-total-height: 242px;
$support-online-image: '/assets/template/css/sprites/sprite.png';
$support-online: (170px, 148px, -170px, -148px, 39px, 39px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'support-online', );
$town-name: 'town';
$town-x: 230px;
$town-y: 0px;
$town-offset-x: -230px;
$town-offset-y: 0px;
$town-width: 59px;
$town-height: 100px;
$town-total-width: 289px;
$town-total-height: 242px;
$town-image: '/assets/template/css/sprites/sprite.png';
$town: (230px, 0px, -230px, 0px, 59px, 100px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'town', );
$uraddress-name: 'uraddress';
$uraddress-x: 141px;
$uraddress-y: 134px;
$uraddress-offset-x: -141px;
$uraddress-offset-y: -134px;
$uraddress-width: 21px;
$uraddress-height: 24px;
$uraddress-total-width: 289px;
$uraddress-total-height: 242px;
$uraddress-image: '/assets/template/css/sprites/sprite.png';
$uraddress: (141px, 134px, -141px, -134px, 21px, 24px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'uraddress', );
$vk-name: 'vk';
$vk-x: 275px;
$vk-y: 119px;
$vk-offset-x: -275px;
$vk-offset-y: -119px;
$vk-width: 12px;
$vk-height: 16px;
$vk-total-width: 289px;
$vk-total-height: 242px;
$vk-image: '/assets/template/css/sprites/sprite.png';
$vk: (275px, 119px, -275px, -119px, 12px, 16px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'vk', );
$zoom-name: 'zoom';
$zoom-x: 230px;
$zoom-y: 146px;
$zoom-offset-x: -230px;
$zoom-offset-y: -146px;
$zoom-width: 45px;
$zoom-height: 46px;
$zoom-total-width: 289px;
$zoom-total-height: 242px;
$zoom-image: '/assets/template/css/sprites/sprite.png';
$zoom: (230px, 146px, -230px, -146px, 45px, 46px, 289px, 242px, '/assets/template/css/sprites/sprite.png', 'zoom', );
$spritesheet-width: 289px;
$spritesheet-height: 242px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($address, $arrow-menu, $arrow-right, $buy, $cart, $check, $delete, $facebook, $footer-menu-arrow, $garant, $garante, $grid-active, $grid, $icon-down-dark, $icon-up-dark, $individual, $list-active, $list, $loupe, $next-active, $next, $ok, $order, $original, $pdf, $phone-footer, $phone-header, $prev-active, $prev, $search, $shop-town, $sidebar-right-arrow, $support-online, $town, $uraddress, $vk, $zoom, );
$spritesheet: (289px, 242px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
