//= include/header.html


<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="/">Каталог</a></li>
            <li><a href="/">Подвеска</a></li>
            <li class="active">Амортизаторы</li>
        </ul>
    </div>
</div>

<div class="container container-full">
    <div class="row row__content">
        <div class="sidebar columns">
            <a href="#" class="sidebar-btn">Поиск по каталогу</a>
            <div class="aside-filter show-mobile">
                <div class="widget">
                    <div class="widget__caption">Поиск по модели авто</div>
                    <fieldset id="mse2_ms|price">
                        <select name="" id="" class="selectric">
                            <option value="">Выберите модель</option>
                            <option value="">ВАЗ</option>
                        </select>
                    </fieldset>
                </div>

                <div class="widget">
                    <div class="widget__caption">Линии</div>
                    <fieldset id="mse2_ms|price">
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Стандарт</span>
                        </label>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Комфорт</span>
                        </label>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Премиум</span>
                        </label>
                    </fieldset>
                </div>

                <div class="widget">

                    <fieldset id="mse2_ms|price">
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Все товары</span>
                        </label>
                        <div class="widget__caption">Подвеска</div>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Амортизаторы</span>
                        </label>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Шаровые опоры</span>
                        </label>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Рулевые наконечники</span>
                        </label>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Маятники</span>
                        </label>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Рычаги подвески</span>
                        </label>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Опора передней стойки</span>
                        </label>
                        <div class="widget__caption">Трансмиссия</div>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Шрус <span class="register__textsmall"> (Шарнир равных угловых скоростей)</span></span>

                        </label>
                        <div class="widget__caption">Тормозная система</div>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Тормозные диски</span>
                        </label>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Тормозные барабаны</span>
                        </label>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Тормозные колодки</span>
                        </label>
                        <div class="widget__caption">Гидравлическая система</div>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Гидравлические цилиндры</span>
                        </label>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Гидравлические тормозные и гидравлические насосы</span>
                        </label>
                        <div class="widget__caption">Двигатель</div>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Водяные насосы</span>
                        </label>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Термостаты</span>
                        </label>
                        <div class="widget__caption">Разное</div>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Упоры капота</span>
                        </label>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Упоры багажника</span>
                        </label>
                        <label class="aside-filter__checkbox">
                            <input name="q2" type="checkbox" class="checkbox">
                            <span class="checkbox-custom"></span>
                            <span class="label register__text"> Ремкомплекты к амортизаторам</span>
                        </label>
                    </fieldset>
                </div>

            </div>

            <div class="aside-baner hidden-mobile">
                <a href="#">
                    <img src="assets/template/images/tmp/bn-partners.png">
                </a>
            </div>
        </div>
        <div class="content columns">
            <div class="content__inner">
                <div class="sortpanel row">
                    <div class="sortpanel__box">
                        <span class="sortpanel__label">Компоновка:</span>
                        <a href="#" class="sortpanel__list active"></a>
                        <a href="#" class="sortpanel__grid"></a>
                    </div>
                </div>

                <div class="catalog__list row">

                    //= include/catalogline-item.html
                    //= include/catalogline-item.html
                    //= include/catalogline-item.html
                    //= include/catalogline-item.html
                    //= include/catalogline-item.html
                    //= include/catalogline-item.html


                </div>



                <div class="pagination mse2_pagination">
                    <div class="pagination">
                        <ul class="pagination">
                            <li class="disabled pagination__prev"><span><span class="arrow"></span>Предыдущая</span></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">6</a></li><li class="control pagination__next"><a href="#">Следующая <span class="arrow"></span></a></li>
                        </ul>
                    </div>
                </div>


                <div class="pagination mse2_pagination">
                    <div class="pagination">
                        <ul class="pagination">
                            <li class="control pagination__prev"><a href="#"><span class="arrow"></span>Предыдущая</a></li><li><a href="#">1</a></li><li><a href="#">2</a></li><li class="active"><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="control pagination__next"><a href="#">Следующая <span class="arrow"></span></a></li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="catalog__text-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>


//= include/footer.html