//= include/header.html


<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">О компании</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row row__content">
        <div class="sidebar columns">
            <a href="#" class="sidebar-btn">О компании</a>
            <div class="sidebar__inner show-mobile">
                <div class="sidebar__caption hidden-mobile">О компании</div>
                <ul class="sidebar-menu">
                    <li><a href="#"><span>История компании</span></a></li>
                    <li><a href="#"><span>Производство</span></a></li>
                    <li><a href="#"><span>Линия Стандарт</span></a></li>
                    <li><a href="#"><span>Линия Комфорт</span></a></li>
                    <li><a href="#"><span>Линия Премиум</span></a></li>
                    <li class="active"><a href="#"><span>Сертификаты</span></a></li>
                    <li><a href="#"><span>Отзывы и рекомендации</span></a></li>
                    <li><a href="#"><span>Вакансии</span></a></li>
                    <li><a href="#"><span>Контакты</span></a></li>
                    <li><a href="#"><span>Политика конфиденциальности</span></a></li>
                </ul>
            </div>


        </div>
        <div class="content columns">
            <div class="content__inner">
                <h1>Сертификаты</h1>
                <div class="certificate__list row">

                    //= include/certificate-item.html
                    //= include/certificate-item.html
                    //= include/certificate-item.html
                    //= include/certificate-item.html
                    //= include/certificate-item.html
                    //= include/certificate-item.html
                </div>

            </div>
        </div>
    </div>
</div>




//= include/footer.html