//= include/header.html


<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">О компании</li>
        </ul>
    </div>
</div>

<div class="container container-content">
    <div class="row row__content">
        <div class="sidebar columns">
            <a href="#" class="sidebar-btn">О компании</a>
            <div class="sidebar__inner show-mobile">
                <div class="sidebar__caption hidden-mobile">О компании</div>
                <ul class="sidebar-menu">
                    <li><a href="#"><span>История компании</span></a></li>
                    <li><a href="#"><span>Производство</span></a></li>
                    <li><a href="#"><span>Линия Стандарт</span></a></li>
                    <li><a href="#"><span>Линия Комфорт</span></a></li>
                    <li><a href="#"><span>Линия Премиум</span></a></li>
                    <li><a href="#"><span>Сертификаты</span></a></li>
                    <li><a href="#"><span>Отзывы и рекомендации</span></a></li>
                    <li><a href="#"><span>Вакансии</span></a></li>
                    <li class="active"><a href="#"><span>Контакты</span></a></li>
                    <li><a href="#"><span>Политика конфиденциальности</span></a></li>
                </ul>
            </div>

            <div class="sidebar-search hidden-mobile">
                <form action="">
                    <input class="sidebar-search__input" placeholder="Поиск по каталогу" type="text">
                    <button class="sidebar-search__submit"></button>
                </form>
            </div>

        </div>
        <div class="content columns">
            <div class="content__inner">
                <h1>Контакты</h1>
                    <div class="contacts-data">
                        <div class="contacts-data__item contacts-data__item--address row">
                            <div class="contacts-data__caption">Адрес:</div>
                            <div class="contacts-data__value">г. Тольятти ул. Коммунистическая, 100</div>
                        </div>
                        <div class="contacts-data__item row">
                            <div class="contacts-data__caption">Телефон<br class="only-mobile"/> отдела продаж:</div>
                            <div class="contacts-data__value">
                                <a href="tel:88005005569" class="contacts-data__value"><br class="only-mobile"/>8 800 500 55 69</a>
                            </div>
                        </div>
                        <div class="contacts-data__item row">
                            <div class="contacts-data__caption">Приемная:</div>
                            <div class="contacts-data__value">
                                <a href="tel:+79455005569" >+7 (945) 500 55 69</a>
                            </div>
                        </div>
                        <div class="contacts-data__item row">
                            <div class="contacts-data__caption">Почта:</div>
                            <div class="contacts-data__value">
                                <a href="mailto:mail@mail.ru">mail@mail.ru</a>
                            </div>
                        </div>
                    </div>

                    <div class="contacts-ur">
                        <div class="contacts-ur__item row">
                            <div class="contacts-ur__caption">Юридическое лицо:</div>
                            <div class="contacts-ur__value">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                        </div>
                    </div>

                <a href="#" class="contacts-address btn">Адреса магазинов в Вашем городе</a>
                <div class="contacts-map">
                    <img src="/assets/template/images/tmp/map.jpg" alt=""">
                </div>
            </div>
        </div>
    </div>
</div>




//= include/footer.html