//= include/header.html

<div class="distribution__map">
    <img src="/assets/template/images/tmp/map-network.jpg">
</div>


<div class="distribution">
     <div class="container">
        <div class="distribution__star distribution__star--city">
            * Цены у партнеров могут отличаться от цен, представленных на сайте
        </div>

         <div class="distribution-implement distribution-implement__city">
             <div class="distribution-implement__label">
                 Реализуют в Тольятти
             </div>
             <div class="distribution-implement__list">

                 //= include/distribution-implement__box.html
                 //= include/distribution-implement__box.html
                 //= include/distribution-implement__box.html
             </div>
         </div>

         <div class="distribution-search">
             <div class="distribution-search__caption">Введите город</div>
             <fieldset id="mse2_ms|price">
                 <select name="" id="" class="selectric">
                     <option value="">Выберите город</option>
                     <option value="">Москва</option>
                     <option value="">Магнитогорск</option>
                     <option value="">Магадан</option>
                 </select>
             </fieldset>
         </div>

         <div class="distribution__star distribution__star--moscow">
             * Цены у партнеров могут отличаться от цен, представленных на сайте
         </div>

         <div class="distribution-implement">
             <div class="distribution-implement__label">
                 Реализуют в Москве
             </div>
             <div class="distribution-implement__list">

                 //= include/distribution-implement__box.html
                 <div class="distribution-separator"></div>
                 //= include/distribution-implement__box.html
                 <div class="distribution-separator distribution-separator--2"></div>
                 //= include/distribution-implement__box.html
                 <div class="distribution-separator distribution-separator--3"></div>
                 //= include/distribution-implement__box.html
                 <div class="distribution-separator distribution-separator--2"></div>
                 //= include/distribution-implement__box.html
                 <div class="distribution-separator"></div>
                 //= include/distribution-implement__box.html
                 <div class="distribution-separator distribution-separator--2  distribution-separator--3"></div>
             </div>
         </div>

     </div>
</div>


//= include/footer.html