//= include/header.html


<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">О компании</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row row__content">
        <div class="sidebar columns">
            <div class="sidebar__inner">
                <div class="sidebar__caption">О компании</div>
                <ul class="sidebar-menu">
                    <li><a href="#"><span>История компании</span></a></li>
                    <li><a href="#"><span>Производство</span></a></li>
                    <li><a href="#"><span>Линия Стандарт</span></a></li>
                    <li><a href="#"><span>Линия Комфорт</span></a></li>
                    <li><a href="#"><span>Линия Премиум</span></a></li>
                    <li class="active"><a href="#"><span>Гарантия</span></a></li>
                    <li><a href="#"><span>Сертификаты</span></a></li>
                    <li><a href="#"><span>Отзывы и рекомендации</span></a></li>
                    <li><a href="#"><span>Вакансии</span></a></li>
                    <li><a href="#"><span>Контакты</span></a></li>

                </ul>
            </div>


        </div>
        <div class="content columns">
            <div class="content__inner">
                <h1>Гарантия</h1>
                <div class="product__list row">
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant1.jpg');">
                            <div class="product__caption">
                                <span>
                                    Амортизаторы
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant2.jpg');">
                            <div class="product__caption">
                                <span>
                                    Шаровые опоры
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant3.jpg');">
                            <div class="product__caption">
                                <span>
                                    Рулевые наконечники
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant4.jpg');">
                            <div class="product__caption">
                                <span>
                                    Маятники
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant1.jpg');">
                            <div class="product__caption">
                                <span>
                                    Шрус
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant2.jpg');">
                            <div class="product__caption">
                                <span>
                                    Тормозные диски
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant3.jpg');">
                            <div class="product__caption">
                                <span>
                                    Тормозные барабаны
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant4.jpg');">
                            <div class="product__caption">
                                <span>
                                    Тормозные колодки
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant1.jpg');">
                            <div class="product__caption">
                                <span>
                                    Сцепления
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant2.jpg');">
                            <div class="product__caption">
                                <span>
                                    Водяные насосы
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant3.jpg');">
                            <div class="product__caption">
                                <span>
                                    Термостаты
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant4.jpg');">
                            <div class="product__caption">
                                <span>
                                    Газовые упоры крышки капота
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant5.jpg');">
                            <div class="product__caption">
                                <span>
                                    Рычаги подвески
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant6.jpg');">
                            <div class="product__caption">
                                <span>
                                    Опора передней стойки
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant5.jpg');">
                            <div class="product__caption">
                                <span>
                                    Цилиндры
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant6.jpg');">
                            <div class="product__caption">
                                <span>
                                    Тормоза
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant5.jpg');">
                            <div class="product__caption">
                                <span>
                                    Газовые упоры крышки багажника
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="product__item column">
                        <a href="#" class="product__card" style="background-image: url('/assets/template/images/tmp/garant6.jpg');">
                            <div class="product__caption">
                                <span>
                                    Ремкомплекты к амортизаторам
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




//= include/footer.html