//= include/header.html

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="/">Каталог</a></li>
            <li><a href="/">Подвеска</a></li>
            <li><a href="/">Амортизаторы</a></li>
            <li class="active">Амортизатор CIFAM, 202035</li>
        </ul>
    </div>
</div>

<div class="product-page">
    <div class="container container-full">
        <div class="product-page__card row">
            <div class="product-page__images">
                <div class="product-image__list">
                    <div><img src="/assets/template/images/tmp/product-big.jpg" alt=""></div>
                    <div><img src="/assets/template/images/tmp/product-big-1.jpg" alt=""></div>
                    <div><img src="/assets/template/images/tmp/product-big-2.jpg" alt=""></div>
                </div>
                <div class="product-previews">
                    <div>
                        <div class="product-previews__item">
                            <img src="/assets/template/images/tmp/product-small.jpg" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="product-previews__item">
                            <img src="/assets/template/images/tmp/product-small-2.jpg" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="product-previews__item">
                            <img src="/assets/template/images/tmp/product-small-2.jpg" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="product-page__info">
                <h1 class="product__header">Амортизатор, CIFAM, 202035</h1>
                <div class="product-intro">
                    <div class="product-intro__name">Краткое описание:</div>
                    <div class="product-intro__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis dolorem ipsum quia dolor sit amet
                    </div>
                </div>
                <div class="product-property row">
                    <div class="product-property__box">
                        <div class="product-property__item row">
                            <div class="product-property__key">Производитель:</div>
                            <div class="product-property__value"></div>
                        </div>
                        <div class="product-property__item row">
                            <div class="product-property__key">Марка:</div>
                            <div class="product-property__value">LADA</div>
                        </div>
                    </div>
                    <div class="product-property__box">
                        <div class="product-property__item row">
                            <div class="product-property__key">Артикул:</div>
                            <div class="product-property__value">202035</div>
                        </div>
                        <div class="product-property__item row">
                            <div class="product-property__key">Линия:</div>
                            <div class="product-property__value">Комфорт</div>
                        </div>
                    </div>
                    <div class="product-property__box">
                        <div class="product-property__item row">
                            <div class="product-property__key">Размер коробки (см):</div>
                            <div class="product-property__value">150х20х50</div>
                        </div>
                        <div class="product-property__item row">
                            <div class="product-property__key">Вес (г):</div>
                            <div class="product-property__value">450</div>
                        </div>
                    </div>
                </div>

                <div class="product-action">
                    <form action="" class="product-action__row">
                    <div class="product-action__line row">
                        <div class="product-action__lead">Купить одну деталь:</div>
                        <div class="product-action__price">
                            <span class="product-action__price-text">Цена</span>
                            <span class="product-action__price-value">760 р.</span>
                        </div>
                        <div class="product-action__quontity">
                            <div class="quontity">
                                <span class="bminus">&ndash;</span>
                                <input data-current="1" data-price="0,00" class="js_zcount count_live" type="text" name="count" value="1" placeholder="">
                                <span class="bplus">+</span>
                            </div>
                        </div>
                        <div class="product-action__buy">
                            <button type="submit" class="product-action__submit btn">Купить</button>
                        </div>
                    </div>
                    </form>
                    <form action="" class="product-action__row">
                        <div class="product-action__line row">
                            <div class="product-action__lead">Купить комплект: <span class="hint">(правый + левый)</span></div>
                            <div class="product-action__price">
                                <span class="product-action__price-text">Цена</span>
                                <span class="product-action__price-value">1760 р.</span>
                            </div>
                            <div class="product-action__quontity">
                                <div class="quontity">
                                    <span class="bminus">&ndash;</span>
                                    <input data-current="1" data-price="0,00" class="js_zcount count_live" type="text" name="count" value="1" placeholder="">
                                    <span class="bplus">+</span>
                                </div>
                            </div>
                            <div class="product-action__buy">
                                <button type="submit" class="product-action__submit btn">Купить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="product-tabs">
            <div class="product-tabs__nav">
                <ul>
                    <li><a data-tab=".tab-property" class="active" href="#">Характеристики</a></li>
                    <li><a data-tab=".tab-usage" href="#">Применяемость</a></li>
                </ul>
            </div>
            <div class="product-tabs__body">
                <div class="product-tabs__tab tab tab-property active">
                    <h3>ОСНОВНЫЕ ХАРАКТЕРИСТИКИ</h3>
                    <div class="dot-property__list">
                        <div class="dot-property__item row">
                            <div class="dot-property__name"><span>Ширина, мм</span></div>
                            <div class="dot-property__value">41</div>
                        </div>
                        <div class="dot-property__item row">
                            <div class="dot-property__name"><span>Диаметр, мм</span></div>
                            <div class="dot-property__value">200</div>
                        </div>
                        <div class="dot-property__item row">
                            <div class="dot-property__name"><span>Тормозная система</span></div>
                            <div class="dot-property__value">Fiat</div>
                        </div>
                        <div class="dot-property__item row">
                            <div class="dot-property__name"><span>Сторона установки:</span></div>
                            <div class="dot-property__value">задний мост</div>
                        </div>
                        <div class="dot-property__item row">
                            <div class="dot-property__name"><span>ABS</span></div>
                            <div class="dot-property__value">-</div>
                        </div>
                        <div class="dot-property__item row">
                            <div class="dot-property__name"><span>Ось (сторона установки)</span></div>
                            <div class="dot-property__value">зад</div>
                        </div>
                        <div class="dot-property__item row">
                            <div class="dot-property__name"><span>Трансмиссия</span></div>
                            <div class="dot-property__value">М</div>
                        </div>
                        <div class="dot-property__item row">
                            <div class="dot-property__name"><span>Вес, кг</span></div>
                            <div class="dot-property__value">1.33</div>
                        </div>
                    </div>
                </div>
                <div class="product-tabs__tab tab tab-usage">
                    <div class="table-scroll">
                    <table>
                        <tr>
                            <th>Марка</th>
                            <th>Модель</th>
                            <th>Двигатель</th>
                            <th>Год</th>
                        </tr>
                        <tr>
                            <td>Datsun</td>
                            <td>
                                <p>ON-DO (14-)</p>
                                <p>MI-DO (15-)</p>
                            </td>
                            <td>1.6i</td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Lada (ВАЗ)</td>
                            <td>
                                <p>KALINA (04-)</p>
                                <p>GRANTA (10-)</p>
                                <p>2108</p>
                                <p>2108</p>
                                <p>2109</p>
                                <p>2110</p>
                            </td>
                            <td>
                                <p>1.4i 16V / 1.6i 16V / 1.6i 8V</p>
                                <p>1.6i</p>
                                <p>1.6i</p>
                                <p>1.6i</p>
                                <p>1.6i</p>
                                <p>1.6i</p>
                            </td>
                            <td>
                                <p>2004 - 2013</p>
                                <p>2004 - 2013</p>
                                <p>2004 - 2013</p>
                                <p>2004 - 2013</p>
                                <p>2004 - 2013</p>
                                <p>2004 - 2013</p>
                            </td>
                        </tr>
                    </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-advantage">
            <div class="product-advantage__list">
                <a href="#" class="product-advantage__item product-advantage__item--1">
                    <div class="product-advantage__card">
                        <div class="product-advantage__name">Как заказать</div>
                    </div>
                </a>
                <a href="shipping.html" class="product-advantage__item product-advantage__item--2">
                    <div class="product-advantage__card">
                        <div class="product-advantage__name">Доставка и оплата</div>
                    </div>
                </a>
                <a href="garant.html" class="product-advantage__item product-advantage__item--3">
                    <div class="product-advantage__card">
                        <div class="product-advantage__name">Гарантия</div>
                    </div>
                </a>
                <a href="#" class="product-advantage__item product-advantage__item--4">
                    <div class="product-advantage__card">
                        <div class="product-advantage__name">100 % оригинальная
                            продукция</div>
                    </div>
                </a>
                <a href="distribution.html" class="product-advantage__item product-advantage__item--5">
                    <div class="product-advantage__card">
                        <div class="product-advantage__name">В магазине Вашего города</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

//= include/footer.html